.main {
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 4rem;
}

.greet-main {
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
    margin-top: 2rem;
}

.greeting-text-div {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.gretting-main {
    width: 90%;
    padding: 20px 10px;
    margin: 0px auto;
}

.subTitle {
    color: #868e96 !important;
}

.greeting-main {
    display: flex;
}

.greeting-main > * {
    flex: 1;
    margin-bottom: 30px;
}

.button-greeting-div {
    display: flex;
    justify-content: center;
}

.greeting-text {
    font-size: 70px;
    line-height: 1.1;
    color: black !important;
    border-bottom: 0;
    margin-block-end: 0;
}

.greeting-text-2 {
    font-size: 40px;
    line-height: 1.1;
    color: black !important;
}

.greeting-text-p {
    line-height: 40px;
    font-weight: bold;
    margin-block-start: 0;
    color: rgba(100, 100, 100, .5) !important;
}

.greeting-image-div > img {
    max-width: 100%;
    height: auto;
}

.wave-emoji {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(12deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(9deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* Media Query */
/*@media (max-width: 1380px) {*/
/*    .greeting-text {*/
/*        font-size: 50px;*/
/*    }*/

/*    .greeting-text-p {*/
/*        font-size: 20px;*/
/*    }*/
/*}*/

@media (max-width: 768px) {
    .button-greeting-div {
        justify-content: space-around;
    }

    .greeting-text {
        font-size: 50px;
        text-align: center;
    }

    .greeting-text-2 {
        font-size: 30px;
        text-align: center;
    }

    .greeting-text-p {
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }

    .greeting-main {
        display: block;
    }
}

.greeting-button {
    margin-top: 30px;
    text-align: center;
}
.greeting-button a {
    margin-left: auto;
    margin-right: auto;
}
