.contact-div-main {
    display: flex;
}

.dark-mode a {
    color: white;
}

.contact-div-main > * {
    flex: 1;
}

.contact-title {
    font-size: 65px;
    font-weight: 400;
}

.contact-detail,
.contact-detail-email {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    color: #868e96;
    text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
    color: black;
    text-shadow: 2px 1px 2px #b5b5b5;
    transition: all 0.3s;
}

.contact-subtitle {
    text-transform: uppercase;
}

.contact-text-div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    justify-content: center;
}

.contact-margin-top {
    margin-top: 4rem;
}

.contact-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-image-div > img {
    max-width: 350px;
    height: auto;
    margin-left: 1.5rem;
    margin-top: -4rem;
}

.card-contact {
    width: fit-content;
    border-radius: 8px;
    background: white;
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(100, 100, 100, .3);
}

.card-contact-body {
    width: 100%;
    height: 100%;
    padding: 15px 20px;
    text-align: left;
}

.card-contact:hover {
    box-shadow: 0 2px 9px 0 rgba(100, 100, 100, .3);
}

.card-contact.dark {
    background: black;
    border: 1px solid rgba(100, 100, 100, 1);
}

.card-contact.dark:hover {
    box-shadow: 0 2px 9px 0 rgba(200, 200, 200, .5);
}

.card-contact, a {
    text-decoration: none;
}

.card-contact-title {
    color: #b5b5b5;
    font-weight: 600;
}

.card-contact-subtitle {
    color: #b78d8d;
    font-size: 12px;
}

/* Media Query */
@media (max-width: 1380px), (max-width: 768px) {
    .contact-title {
        font-size: 56px;
        font-weight: 400;
        text-align: center;
    }

    .contact-title {
        font-size: 40px;
        text-align: center;
    }

    .contact-subtitle {
        font-size: 16px;
        line-height: normal;
        text-align: center;
    }

    .contact-text-div {
        text-align: center;
        margin-top: 1.5rem;
    }

    .contact-detail,
    .contact-detail-email {
        font-size: 20px;
    }
}

@media (max-width: 768px) {
    .contact-image-div {
        display: none;
    }
}
