@font-face {
    font-family: 'icomoon';
    src:  url('./assets/fonts/iconmoon/icomoon.eot');
    src:  url('./assets/fonts/iconmoon/icomoon.eot') format('embedded-opentype'),
    url('./assets/fonts/iconmoon/icomoon.ttf') format('truetype'),
    url('./assets/fonts/iconmoon/icomoon.woff') format('woff'),
    url('./assets/fonts/iconmoon/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-mongodb:before {
    content: "\e901";
}
.icon-redux-seeklogocom:before {
    content: "\e900";
}
